.navbar-toggler{
    background-color:  rgba(255, 255, 255, 0.856);   
    border: solid 1px;
}

#space{
    position: sticky;
    top: 0;
    z-index: 1;
    border-radius: 20px;
    background-color:  #0dcaf0;
    margin-bottom: 20px;
    padding: 27px;
    border: solid 2px;
}

#masterframe{
    background-color:  #0dcaf0;
    margin: auto;
    border-radius: 20px;
    height: auto;
    border:solid 5px;
    contain: content;
    max-width: 700px;
}

#container{
    border-radius: 20px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 60px;
    padding: 8px;
    height: auto;
    width: 350px;
    border: solid 2.5px;
    background-color: rgba(255, 255, 255, 0.856);
    font-family: helvetica, Arial, sans-serif;
}

#frame{
    position: absolute;
    margin-top: -70px;
    margin-left: 280px;
    height: 190px;
    width: 190px;
    border-radius: 50%;
    border: solid;
    z-index: 1;
    contain: content;
    background-color: black;
}


#img1{

    background: url(hey.png) no-repeat center center;
    height: 200px;
    width: 200px;
    background-color: black;
    border:solid;
    border-color: black;
    margin-left: -10px;
    margin-top: -10px;
}

#collapseText{
    font-size: small;
    width: 320px;
    height: auto;
    margin-left: 5px;
    
}

.btn{
    border-color: black;
    background-color: #4fa5d8;
    color: white;
    

}
#icon{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    
}
#facebook{

    background: url(facebook.png) no-repeat center center;
    height: 40px;
    width: 40px;
    background-color:white;
    border-radius: 10px;
    margin-right: 5px;
}

#facebook:hover{
    background-color: #3b5998;
    border: solid #3b5998;
    transition: .8s;
}



#instagram{

    background: url(instagram.png) no-repeat center center;
    height: 40px;
    width: 40px;
    background-color:white;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

#instagram:hover{
    border: solid #d62976;
    background-color: #d62976;
    transition: .8s;
}

#github{

    background: url(octocat.png) no-repeat center center;
    height: 40px;
    width: 40px;
    background-color:white;
    border-radius: 12px;
    margin-left: 5px;
    
}

#github:hover{
    border: solid lightblue;
    transition: .8s;
}

#money{

    background: url(money.gif) no-repeat center center;
    height: 45px;
    width: 45px;
    background-color:0dcaf0;
    border-radius: 15px;
    margin-left: 5px;
    
}


