.navbar-toggler{
    background-color:  rgba(255, 255, 255, 0.856);   
    border: solid 1px;
}

body{   
    margin: auto;
    border-radius: 20px;
    height: auto;
    border:solid 5px;
    background-color:  #0dcaf0;
    contain: content;
    max-width: 700px;
}

#container{
    border-radius: 20px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 10px;
    height: auto;
    width: 420px;
    border: solid 2.5px;
    background-color: rgba(255, 255, 255, 0.856);
    font-family: helvetica, Arial, sans-serif;
}

#frame{
    position: absolute;
    margin-top: -40px;
    margin-left: 300px;
    height: 190px;
    width: 190px;
    border-radius: 50%;
    border: solid;
    z-index: 1;
    contain: content;
    background-color: black;
}


#img1{

    background: url(hey.png) no-repeat center center;
    height: 200px;
    width: 200px;
    background-color: black;
    border:solid;
    border-color: black;
    margin-left: -10px;
    margin-top: -10px;
}

#collapseText{
    font-size: small;
}

.btn{
    border-color: black;
    background-color: #4fa5d8;
    color: white;
    

}
#icon{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    
}
#facebook{

    background: url(facebook.png) no-repeat center center;
    height: 40px;
    width: 40px;
    background-color:white;
    border-radius: 10px;
    margin-right: 5px;
}

#Instagram{

    background: url(instagram.png) no-repeat center center;
    height: 40px;
    width: 40px;
    background-color:white;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    
}

#github{

    background: url(octocat.png) no-repeat center center;
    height: 40px;
    width: 40px;
    background-color:white;
    border-radius: 15px;
    margin-left: 5px;
    
}